.element {
  display      : flex;
  border-radius: 40px;
  align-items  : center;

}

.element:first-of-type {
  margin-right: 8px;
}

.title {
  display: flex;
}

.title>svg {
  padding-right: 8px;
}

.link {
  color          : inherit;
  text-decoration: none;
  transition: opacity .5s ease-in-out;
}

.link:hover {
  cursor : pointer;
  opacity: .8;
}
