.abracadabra{
  position: relative;
  display: flex;
  width: 100px;
  height: 50px;
  border: 1px solid red;
}

.section {
  max-width: 600px;
  width    : 100%;
  max-height: 912px;
  height: 300px;
  overflow : hidden;
}

.ingredientsScrollBox {
  display       : flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 400px;
  max-height    : 464px;
}

.ingredientsScrollBox::-webkit-scrollbar {
  width: 8px;
  /* ширина скроллбара */
}

.ingredientsScrollBox::-webkit-scrollbar-track {
  background: #2F2F37;
  /* цвет скроллбара */
}

.ingredientsScrollBox::-webkit-scrollbar-thumb {
  background-color: #8585AD;
  /* цвет плашки */
  border-radius   : 10px;
  /* закругления плашки */
}

.ingridientBox {
  display    : flex;
  align-items: center;
  column-gap : 13px;
  box-sizing : border-box;
  width      : 100%;
}

.ingridientBox:last-of-type {
  margin-bottom: 0;
}

.info {
  display        : flex;
  justify-content: flex-end;
  align-items    : center;
}
