.ingridientBox {
  display    : flex;
  align-items: center;
  column-gap : 13px;
  box-sizing : border-box;
  width      : 100%;
}

.isHover {
  border            : 1px solid transparent;
  border-image      : linear-gradient(to bottom right, #DC2903, #F4F955, #0625F9);
  border-image-slice: 1;
}
